<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.github.poupWebView" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>PopupWebView</name>
  <js-module name="PopupWebView" src="www/PopupWebView.js">
    <clobbers target="cordova.plugins.PopupWebView"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="PopupWebView">
        <param name="ios-package" value="PopupWebView"/>
      </feature>
    </config-file>
    <source-file src="src/ios/PopupWebView.h"/>
    <source-file src="src/ios/PopupWebView.m"/>
    <resource-file src="src/media/btn_close.png"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="PopupWebView">
        <param name="android-package" value="com.github.poupWebView.PopupWebViewPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.github.poupWebView.PopupWebViewActivity"></activity>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/PopupWebViewPlugin.java" target-dir="src/com/github/poupWebView"/>
    <source-file src="src/android/PopupWebViewActivity.java" target-dir="src/com/github/poupWebView"/>
    <source-file src="src/android/layout/activity_popup_view.xml" target-dir="res/layout"/>
    <source-file src="src/media/btn_close.png" target-dir="res/drawable"/>
  </platform>
</plugin>