<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.github.ttquang.poupWebView" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    >
  <name>PopupWebView</name>
  <js-module name="PopupWebView" src="www/PopupWebView.js">
    <clobbers target="cordova.plugins.PopupWebView"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="PopupWebView">
        <param name="ios-package" value="PopupWebView"/>
      </feature>
    </config-file>
    <source-file src="src/ios/PopupWebView.m"/>
    <resource-file src="src/ios/media/btn-close.png"/>
  </platform>
</plugin>